<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/humanity/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link href="~/Content/galleria/themes/classic/galleria.classic.css" rel="stylesheet" />
    @Styles.Render("~/Content/customCss")
    @Styles.Render("~/Content/facebook")
    @Styles.Render("~/Content/galleria")
    @*@Styles.Render("~/Content/themes/base/css")*@
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/customScripts")
    @Scripts.Render("~/bundles/galleria")

    @*<link href="../../Content/default.css" rel="stylesheet" type="text/css" media="all" />*@
    @*<link href="../../Content/StyleExtension.css" rel="stylesheet" type="text/css" media="all" />*@
    @*<link href="../../Content/layout.css" rel="stylesheet" type="text/css" media="all" />*@
    @*<link href="../../Content/FacebookSliderStyle.css" rel="stylesheet" type="text/css"
        media="all" />*@
    
    @*<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.8.20.min.js"></script>*@
    @*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@
    @*<script src="../../Scripts/Custom/PromotionsAction.js" type="text/javascript"></script>
    <script src="../../Scripts/Custom/MenuItemSelection.js" type="text/javascript"></script>*@
    <script src="~/Scripts/Custom/MenuAjax.js?=@DateTime.Now"></script>
    <script src="~/Scripts/Custom/Accordion.js?=@DateTime.Now"></script>
    @*<script src="~/Content/galleria/galleria-1.2.8.min.js"></script>*@
    
    @*<style>
        #galleria
        {
            width: 600px;
            height: 600px;
            background: #000;
        }
    </style>*@

</head>
<body>



    @RenderSection("SCRIPT_SECTION", false);
        <div id="fb-root">
        </div>
    <script type="text/javascript">        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div id="like-box">
        <div class="outside">
            <div class="inside">
                <div class="fb-like-box" data-href="http://www.facebook.com/platform" data-width="292"
                    data-height="400" data-show-faces="true" data-stream="true" data-header="true">
                </div>
            </div>
        </div>
        <div class="belt">
            facebook
        </div>
    </div>
    <div id="wrapper">
        <div id="wrapper-bottom">
            <div id="header" class="container">
                <div id="logo">
                    <div style="position: absolute; top: 80px">
                        @{Html.RenderPartial("../Home/Logo");}
                    </div>
                </div>
                <div id="search">
                    <form method="get" action="">
                        <fieldset>
                            <input type="text" name="query" value="" class="input-text" />
                        </fieldset>
                    </form>
                </div>
            </div>
            <div id="page" class="container">
                <div id="content">
                    <div class="bgtop">
                        <div class="bgbtm">
                            <div id="bg1">
                                <div id="bg2">
                                    <div id="bg3">
                                        <div id="box1" class="box-style1">
                                            <div id="ajaxBlock">
                                                @RenderBody();
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @{Html.RenderPartial("../Home/Sidebar");}
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p>
                Copyright (c) 2011 WebsiteName.com. All rights reserved.
            </p>
        </div>
    </div>
</body>
</html>
