<div id="menu">
    <ul>
        <li id="menu1">@Html.ActionLink("Home", "IndexPartial", "Home", new { accesskey = 1})</li>
        <li id="menu2">@Html.ActionLink("Oferta", "OfertPartial", "Home", new { accesskey = 2})</li>
        <li id="menu3">@Html.ActionLink("Cennik usług", "PriceListPartial", "Home", new { accesskey = 3})</li>
        <li id="menu4">@Html.ActionLink("Kosmetyki", "SellingPartial", "Home", new { accesskey = 4})</li>
        <li id="menu4">@Html.ActionLink("Galeria", "GalleryPartial", "Home", new { accesskey = 5})</li>
        <li id="menu4">@Html.ActionLink("Promocje", "PromotionPartial", "Home", new { accesskey = 6})</li>
        <li id="menu5">@Html.ActionLink("Kontakt", "ContactPartial", "Home", new { accesskey = 7})</li>
    </ul>
</div>
