<div id="menu">
    <ul>
        <li id="menu1">@Html.ActionLink("Home", "Index", "Home", new { accesskey = 1})</li>
        <li id="menu2">@Html.ActionLink("Oferta", "Ofert", "Home", new { accesskey = 2})</li>
        <li id="menu3">@Html.ActionLink("Cennik usług", "PriceList", "Home", new { accesskey = 3})</li>
        <li id="menu4">@Html.ActionLink("Kosmetyki", "Selling", "Home", new { accesskey = 4})</li>
        <li id="menu4">@Html.ActionLink("Galeria", "Gallery", "Home", new { accesskey = 5})</li>
        <li id="menu4">@Html.ActionLink("Promocje", "Promotion", "Home", new { accesskey = 6})</li>
        <li id="menu5">@Html.ActionLink("Kontakt", "Contact", "Home", new { accesskey = 7})</li>
    </ul>
</div>
